apiVersion: apps/v1
kind: Deployment
metadata:
  name: echoserver-service
  namespace: echo-sound
spec:
  selector:
    matchLabels:
      app: echoserver
  template:
    metadata:
      labels:
        app: echoserver
    spec:
      containers:
        - name: echoserver-service
          image: registry.k8s.io/echoserver
          ports:
            - containerPort: 8080